#Pandas

###Задание_1

In [1]:
import pandas as pd

In [6]:
authors = pd.DataFrame({'author_id':[1, 2, 3],

'author_name':['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id', 'author_name'])

authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [7]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],

'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

'price':[450, 300, 350, 500, 450, 370, 290]},

columns = ['author_id', 'book_title', 'price'])

books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

###Задание_2

In [4]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'outer')

authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

###Задание_3

In [5]:
top5 = authors_price.nlargest(5, 'price')

top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

###Задание_4

In [8]:
df1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns = {'price':'min_price'})

df2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns = {'price':'max_price'})

df3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns = {'price':'mean_price'})

authors_stat = pd.concat([df1, df2, df3], axis = 1)

authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000